[Unit]
Description=Gokart service
After=network.target

[Service]
Type=simple
Restart=always
User=root
ExecStart=arecord -fS16_LE -r 44100 -Dplughw:1,0 -c 2 - | /usr/bin/gokart-main -

[Install]
WantedBy=multi-user.target