[Unit]
Description=Gokart service
After=sysinit.target

[Service]
Type=simple
Restart=always
User=root
ExecStart=source /root/.server_env && /usr/bin/gokart-main

[Install]
WantedBy=multi-user.target