body {
    background-color: rgb(21, 21, 21);
}

h1, h2, h3, p, a {
    color: white;
}

.cam {
    width: 50%;
    height: 50%;
    position: absolute;
}

.data-table-div {
    width: 49%;
    height: 49%;
    margin-left: 51%;
}

.data-table-div * {
    color: white;
    padding: 5px;
}

table, th, td {
    border: 1px solid white;
}

.login-ell {
    color: rgb(255, 50, 50);
}